html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 12px;
}

#container{
	width: 100%;
	min-height: 100%;
}

#file_info{
	width: 100%;
	background-color: #cccccc;
	overflow: none;
}

	#file_info .info_row{
		width: 100%;
		height: 25px;
		line-height: 15px;
		border-style: solid;
		border-color: #8f8f8f;
		border-width: 0 0 1px 0;
		overflow: auto;
	}

		.info_title, .info_body{
			float: left;
		}

		.info_title{
			width: 70px;
			font-weight: bold;
			padding: 5px 5px 5px 15px;
			background-color: #afafaf;
			border-style: solid;
			border-color: #8f8f8f;
			border-width: 0 1px 0 0;
		}

		.info_body{
			padding: 5px;
			margin-left: 10px;
		}

	#note_nav{
		width: 100%;
		height: 25px;
		line-height: 15px;
		background-color: #6f6f6f;
		border-style: solid;
		border-color: #8f8f8f;
		border-width: 0 0 1px 0;
		overflow: none;
	}
		.display_option{
			width: 25%;
			padding: 5px 0 5px 0;
			text-align: center;
			background-color: #6f6f6f;
			border-style: solid;
			border-color: #8f8f8f;
			border-width: 0;
			float: left;
		}

		.display_option.active{
			background-color: #5f5f5f;
		}

		.display_option:hover{
			background-color: #5f5f5f;
		}

			.display_option a{
				color: #eeeeee;
				text-decoration: none;
				display: block;
			}

			.display_option a:hover{
				color: #ffffff;
			}

		.display_option.right{
			float: right;
			border-width: 0;
		}

	#display{
		width: 100%;
		height: 100%;
		background-color: #e4e4e4;
	}

		.minimal_frame{
			width: 800px;
			height: 100%;
			padding: 10px;
			background-color: #ffffff;
			margin: auto;
			border-style: solid;
			border-color: #eeeeee;
			border-width: 0 1px 1px 1px;
		}

.table{
	width: 100%;
	border-spacing: 1px 2px;
	empty-cells: hide;
}

	.table_header{
		font-size: 12px;
		text-align: center;
	}

	.row{
		width: 100%;
		height: 25px;
		background-color: #afafaf;
		overflow: none;
		margin-bottom: 100px
	}

		.more.row{
			background-color: #e4e4e4;
			height: 10px;
		}

		.more.row .text{
			padding: 0 5px 0 5px;
		}

	.column{
		height: 15px;
	}

		.column.header{
			padding: 5px;
			font-weight: bold;
			text-align: center;
		}

		.column.number{
			padding: 5px;
			color: #ffffff;
			text-align: center;
			background-color: #6f6f6f;
		}

		.column.poster{
			padding: 5px;
			background-color: #cccccc;
		}

		.column.action{
			padding: 5px;
			background-color: #afafaf;
		}

		.column.source{
			padding: 5px;
			background-color: #cccccc;
		}

